<div class="container-fluid" >
<h1 style="text-align: center; color: darkred;">Registration Form</h1>
</div>


<div class="container-fluid" style="border: 3px solid green;">
  <div class="row">
   <div class="col-md-3" style="border: 2px solid blue;">
    <form #form="ngForm" (ngSubmit) = "userRegistration(form)" novalidate>
      <p>{{ form.value | json }}</p>

      <div class="form-group">
        <label for="name">Name : {{ name }}</label> 
        <input class="form-control" type="text" name="name" placeholder="Enter your name here"  (ngModel) = "name" required><br>
      </div>
      <div class="form-group">
        <label for="address">Address : </label>
        <input class="form-control" type="text" name="address" placeholder="Enter your address here"  (ngModel) = "address" required><br>
      </div>
      <div class="form-group">
        <label for="salary">Salary : </label>
        <input class="form-control" type="text" name="salary" placeholder="Enter your salary here"  (ngModel) = "salary" required><br>
      </div>
      <div class="form-group">
        <label for="nic">NIC Number : </label>
        <input class="form-control" type="text" name="nic" placeholder="Enter your NIC number here"  (ngModel) = "nic" required><br>
      </div>
      <div class="form-group">
        <label for="email">E mail : </label>
        <input class="form-control" type="text" name="email" placeholder="Enter your email here" (ngModel) = "email" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small><br>
      </div>
      <div class="form-group">
        <label for="password">Password : </label>
        <input class="form-control" type="password" name="password" placeholder="Enter your password here"  (ngModel) = "password" required><br>
        <input class="btn btn-danger" type="submit" value="Submit" style="width: 200px; height: initial; display: block; margin: 10px auto;">    
      </div>
      </form>
   </div> 
   <div class="col-md-9">
     <h1 style="text-align: center;">Registered Users</h1>
    <table class="table" style="border: 3px solid darkred;">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Salary</th>
        <th>NIC</th>
        <th>E-mail</th>
        <th>Password</th>
        <th>Date</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let emps of employees">
        <td>{{emps._id}}</td>
        <td>{{emps.name}}</td>
        <td>{{emps.address}}</td>
        <td>{{emps.salary}}</td>
        <td>{{emps.nic}}</td>
        <td>{{emps.email}}</td>
        <td>{{emps.password}}</td>
        <td>{{emps.date}}</td>
        <td><button class="btn btn-warning">Update</button></td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
    </table>
   </div>
  </div>
</div>
<hr>
<div></div>

<!-- 
<div class="container">
  <table class="table" style="border: 3px solid darkred;">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Salary</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>{{employee._id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.address}}</td>
      <td>{{employee.salary}}</td>
      <td>{{employee.date}}</td>
    </tr>
  </table>
  </div><hr>
  <input class="form-control" type="text" name="id" placeholder="Enter your id here"  [(ngModel)]="id" required>
<hr>
  <div class="container">
    <form action="" style="border: 5px solid darkred;"> 
      <div class = "form-group">
        <input class="form-control" type="text" name="name" placeholder="Enter your name here"  [(ngModel)]="name" required><br>
      <input class="form-control" type="text" name="address" placeholder="Enter your address here"  [(ngModel)]="address" required><br>
      <input class="form-control" type="text" name="salary" placeholder="Enter your salary here"  [(ngModel)]="salary" required><br>
      </div>
    </form>
  </div>
  <hr>
-->
